* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.grid-container > * {
  text-align: center;
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50px 30px 40px auto 40px;
  grid-template-areas:
    "header"
    "nav"
    "aside"
    "article"
    "footer";
}
@media screen and (min-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 50px auto 40px;
    grid-template-areas:
      "header header"
      "nav nav"
      "aside article"
      "footer footer";
  }
}

@media screen and (min-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
      "header header header"
      "aside article nav "
      "footer footer footer";
  }
}

.header {
  background: lightblue;
  grid-area: header;
}
.nav {
  background: lightcoral;
  grid-area: nav;
}
.aside {
  background: lightsalmon;
  grid-area: aside;
}
.article {
  background: mediumaquamarine;
  grid-area: article;
}
.footer {
  background: lightgoldenrodyellow;
  grid-area: footer;
}
